<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="net.vidainc.vidahome"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="net.vidainc.vidahome.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="net.vidainc.vidahome.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Vida">
        <activity
            android:name="net.vidainc.vidahome.frontend.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="net.vidainc.vidahome.service.BeaconService"/>
        <service android:name=".service.GcmIntentService"/>

        <receiver android:name=".receivers.GcmBroadcastReceiver">
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.example.gcm"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
